.SA-header {
    background: #00203d;
    height: auto;
    margin-bottom: 35px;
    padding: 10px 0;

    &__container{
        margin-right: 20px;
    }

    &__container-logo {
        height: 62px;
    }

    &__nav {
        display: flex;
        width: 100%;
        list-style: none;
        padding-top: 22px;
    }

    &__nav-item{
        display: block;
        padding-left: 30px;
        color: #fff !important;
        cursor: pointer;

    }
    &__nav-item:hover {
        color: #000 !important;
        text-decoration: underline !important;
    }
}

