.SA-CardDeck {
    &__card {
    display: inline-table;
    width: 25rem;
    margin-bottom: 20px !important;
    }

    &__card-container-card {
        margin-bottom: 15px;
    }

    &__card img {
        height: 225px;
        width: 100%;
    }

    &__card-title {
        font-weight: bold;
        h5 {
          font-weight: bold;
        }
    }
}
